<!-- certificate.component.html -->
<div class="home">
    <!-- <div class="container">
        <div class="logo">
            <h1>Nishad <span>Rajesh</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Services</a></li>
                <li><a routerLink="/experience">Works</a></li>
                <li><a href="#">Note</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/nishad-rajesh-9042491b6/"  target="_blank"><img src="../../../assets/icons/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/shadohmm" target="_blank"><img src="../../../assets/icons/github.png" alt="GitHub"></a>
        </div>
    </div> -->

    <div class="hero">
        <div class="hero-text">
            <span class="role">Web Developer</span>
            <h2>Full Stack web Developer</h2>
            <p>I am an enthusiastic Associate Application Developer with expertise in full-stack web development, including Angular, Node.js, and SQL. Currently working at 
                Accenture, I leverage my skills in web development to design responsive, user-friendly applications while continually improving system performance. </p>
            <a routerLink="/contact" class="cta">Let's Chat!</a>
            <div class="stats">
                <div class="stat">
                    <h3>2</h3>
                    <p>Years Experience</p>
                </div>
                <div class="stat">
                    <h3>Accenture</h3>
                    <p>Associate Software Engineer</p>
                </div>
            </div>
        </div>
        <div class="hero-image-container">
            <div class="circle"></div>
            <!-- <img src="../../../assets/images/rajesh-rbg.png" alt="Person in hoodie"> -->
        </div>   
        <div class="skill"> 
            <!-- Node.js and Angular logos inside the image container -->
            <img src="../../../assets/icons/nodejs.png" alt="Node.js" class="nodejs">
            <img src="../../../assets/icons/angular.png" alt="Angular" class="angular">
            <img src="../../../assets/icons/programing.png" alt="JavaScript" class="javascript">
        </div>
    </div>
</div>
<router-outlet></router-outlet>