/* certificate.component.css */
.home {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo span {
    color: #00ff00;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}
.social-icons{
    margin-right: 100px;
}
.social-icons img {
    margin-right: 90px;
    height: 40px;
    width: 40px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-text {
    max-width: 50%;
    margin-top: 10%;
    margin-left: 80px;
}

.role {
    display: inline-block;
    background-color: #00ff00;
    padding: 5px 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    margin: 0 0 20px;
}

p {
    font-size: 18px;
    margin: 0 0 20px;
}

.cta {
    display: inline-block;
    background-color: #00ff00;
    color: #1a1a1a;
    padding: 10px 20px;
    text-decoration: none;
}

.hero-image-container {
    position: relative;
    display: inline-block;
    /* margin-right: 10%; */
}

.hero-image-container img {
    display: block;
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: auto;
}

.circle {
    position: absolute;
    top: 40%; /* Adjust this value to move the circle vertically */
    left: 50%;
    transform: translate(-55%, -35%);
    width: 500px;
    height: 500px;
    background-color: #101010;
    /* background-image: url(../../../assets/images/rajesh-rbg.png); */
    background-size: cover; /* Ensures the image covers the entire circle */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: center; /* Centers the image */
    border-radius: 50%;
    z-index: 0;
}

/* Position Node.js and Angular logos on top of the hero image */

/* Position Node.js logo on the left */
/* .nodejs {
    left: 15%; /* Position the Node.js logo to the left */
/* } */ 

/* Position Angular logo on the right */
.angular {
    right: 15%; /* Position the Angular logo to the right */
}

.stats {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

.stat h3 {
    margin: 0;
    font-size: 48px;
}

.skill img {
    position: absolute;
    top: 35%; /* Vertically center the logos */
    transform: translateY(-50%); /* Adjust to keep logos centered vertically */
    z-index: 2; /* Ensure logos appear above other elements */
}

.nodejs {
    margin-top: 200px;
    right: 37%;
    width: 80px;
    height: auto;
    
}
.angular {
    margin-top: 330px;
    width: 100px;
    height: auto;

}

.javascript{
    right: 13%;
    width: 80px;
    margin-bottom: 100px;
}
.nodejs, .angular, .javascript{
    position: absolute;
    top: 50%; /* Vertically center the logos */
    transform: translateY(-50%); /* Keep logos centered vertically */
    border-radius: 50%; /* Makes the border circular */
    z-index: 2; /* Ensure logos appear above other elements */
    background-color: #101010;
}
