/* Reset default styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Main container */
.container {
  background-color: #1a1a1a;
  min-height: 100vh; /* Ensures it fills the entire viewport height */
  width: 90%;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}

/* Individual project section */
.project {
  top: 2%;
  background-color: #101010;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex; /* Use flexbox for side-by-side layout */
  gap: 20px; /* Space between content and image */
  margin-bottom: 20px; 
}

/* Extra spacing between projects, except for the first */
.project:not(:first-child) {
  margin-top: 40px;
}

/* Project content and images */
.project-content {
  flex: 2; /* Make content take up more space */
}

.project-images {
  flex: 1; /* Make images take up less space */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevent images from shrinking */
  overflow: hidden; /* Avoid extra spacing issues */
}

/* Project header */
.project-header {
  display: flex;
  align-items: baseline;
}

.project-header h1 {
  font-size: 2rem;
  color: #00ff00;
  margin-right: 10px;
}

.project-header h2 {
  font-size: 1.5rem;
}

/* Project description */
.project-description {
  margin: 10px 0;
  line-height: 1.5;
}

/* Project stack */
.project-stack {
  margin: 10px 0;
}

.project-stack span {
  font-weight: bold;
}

.project-stack ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.project-stack li {
  background-color: #333333;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Project links */
.project-links {
  margin: 10px 0;
}

.project-links a {
  text-decoration: none;
  color: #1a1a1a;
  background-color: #00ff00;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Project images */
.project-image {
  width: 100%; /* Allow scaling */
  max-width: 300px;
  height: auto;
  margin: 0; /* Remove top margin to align */
}

.project-image img {
  max-width: 100%;
  border-radius: 10px;
}

/* Fix bottom white space */
.container:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
