<div class="nav">
    <div class="container">
        <div class="row">
            <div class="menu-btn" (click)="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="navbar">
                <div class="logo">
                    <a href="">Nishad <span>Rajesh</span></a>
                </div>
                <ul class="main-menu" [class.show]="isMenuOpen">
                    <li><a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }"(click)="toggleMenu()">About</a></li>
                    <li><a routerLink="/skills" routerLinkActive="active" (click)="toggleMenu()">Skills</a></li>
                    <li><a routerLink="/experience" routerLinkActive="active" (click)="toggleMenu()">Experience</a></li>
                    <li><a routerLink="/projects" routerLinkActive="active" (click)="toggleMenu()">Projects</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
