/* Set the entire page background color */
body {
  background-color: #1a1a1a;
  color: #1a1a1a; /* Light text for readability */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  background-color:#1a1a1a ;
  padding-bottom: 50px;
}
/* Skills Section */
.skills-section {
  padding: 30px;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.skills-section h2 {
  font-size: 1.8em;
  color: #00ff00;
  margin-bottom: 20px;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

/* Individual Skill Card */
.skill {
  background-color: #333333; /* Dark card background */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.skill-icon {
  font-size: 2em;
  margin-bottom: 10px;
  display: block;
  color: #22ca47; /* Blue icon for contrast */
}

.skill h3 {
  font-size: 1.1em;
  color: #f8f9fa;
  margin: 0;
}
