<div class="w-full min-h-screen bg-gray-800 text-gray-300 p-8">
  <div class="max-w-3xl mx-auto">
    <div class="relative pl-8 pb-12 border-l-2 border-gray-600">
      <!-- Senior Python Developer -->
      <div class="mb-16">
        <div class="absolute left bg-gray-700 rounded px-2 py-1">
          <span class="text-sm">Dec 2022 -- Present</span>
        </div>
        <div class="absolute left w-5 h-5 rounded-full bg-amber-400"></div>
        <div class="ml-8">
          <h3 class="text-2xl font-bold text-white">Associate Software Engineer</h3>
          <h4 class="text-xl mb-4">Accenture <strong>(Full-Time)</strong></h4>
          <p class="text-gray-400 leading-relaxed">
            As a Full Stack Software Engineer specializing in Angular, Node.js,
            and PostgreSQL, I focus on delivering scalable and efficient applications.
            With hands-on experience in building responsive, user-friendly digital solutions,
            I ensure seamless integration and performance optimization. My work also involves creating robust APIs,
            improving system efficiency, and addressing production issues to boost performance by up to 30%.
            I collaborate with cross-functional teams to deliver innovative, customer-centric solutions aligned with business goals.
            My passion for technology, combined with a deep understanding of agile practices and test-driven development,
            drives my commitment to creating impactful solutions.
          </p>
        </div>
      </div>
      <!-- Python Developer -->
      <div>
        <div class="absolute left2 bg-gray-700 rounded px-2 py-1">
          <span class="text-sm">2019 -- 2022</span>
        </div>
        <div class="absolute left2 w-5 h-5 rounded-full bg-amber-400"></div>
        <div class="ml-8">
          <h3 class="text-2xl font-bold text-white">Blockchain Head</h3>
          <h4 class="text-xl mb-4">DSC CMRTC <strong>(Part-Time)</strong></h4>
          <p class="text-gray-400 leading-relaxed">
            
As a member of the Google Developer Student Club, I actively enhance my technical skills through hands-on learning and collaborative projects. I work alongside like-minded peers, fostering innovation and teamwork. Participating in workshops and hackathons broadens my expertise in cutting-edge technologies. I contribute to community-driven initiatives, aiming to create impactful solutions. This experience strengthens my problem-solving abilities and professional growth.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>